@font-face {
  font-family: yekan;
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
}

* {
  font-family: yekan;
}

li{
  cursor: pointer;
}
li:hover{
  background-color: gray;
}
