@font-face {
  font-family: yekan;
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
}

:root {
  --primary-color: #2196f3;
  --secondary-color: #e3f2fd;
  --text-color: #333;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

* {
  font-family: yekan;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 16px;
  text-align: center;
}

button{
  padding: 2px 10px;
  margin: 5px;
}