@font-face {
  font-family: yekan;
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: yekan;
}

body {
  font-family: tahoma, sans-serif;
  padding: 18px;
  background: #f7f8fb;
  color: #111
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px
}

.grid {
  display: flex;
  gap: 12px
}

.card {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, .04);
  width: 180px
}

.card h4 {
  margin-bottom: 6px;
  font-size: 15px
}

.card .price {
  font-weight: 700;
  margin-bottom: 8px
}

.btn {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 6px;
  border: 0;
  cursor: pointer
}

.btn-primary {
  background: #6c5ce7;
  color: #fff
}

.count {
  font-weight: 700
}